<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<div id="dummyNav">
  <span>
    <img id="SDLogo" src="/assets/setofskills.png" width="400">
  </span>
  <span *ngIf="!checkLogin()" class="float-right">
    <form id="loginForm" #loginForm="ngForm">
      <input type="text" name="username" ngModel placeholder="Username">
      <input type="password" name="password" ngModel placeholder="Password">
      <input type="submit" value="Login" (click)="login(loginForm)">
      </form>
  </span>
  <span *ngIf="checkLogin()" class="float-right">
    <button (click) = "logout()">Logout </button>
  </span>
  <!-- <span *ngIf="!checkLogin()" class="float-right"><app-login></app-login></span>
  <span *ngIf="checkLogin()" class="float-right"><app-logout></app-logout></span> -->
</div>
  <!--Scroll to top-->
<div class="scroll-to-top" [ngClass]="{'show-scrollTop': windowScrolled}">
  <button (click)="scrollToTop()"> <i class="fa fa-chevron-up"></i></button>
</div>

