<div>
  <form id="loginForm" #loginForm="ngForm">
  <input type="text" name="username" ngModel placeholder="Username">
  <input type="password" name="password" ngModel placeholder="Password">
  <input type="submit" value="Login" (click)="login(loginForm)">

  </form>
  <div>

    <button (click) = "logout()">Logout </button>

  </div>

</div>

<div *ngIf="checkLogin()">
<table>
  <tr><td></td></tr>
  <tr>
    <td><h4>{{achiever.firstName}}</h4></td>
  </tr>
  <tr>
    <td><h4>{{achiever.lastName}}</h4></td>
  </tr>

  <tr>
    <td><h4>{{achiever | json}}</h4></td>
  </tr>


</table>
</div>

<div>
<app-achiever>

</app-achiever>



</div>
