<!-- <div *ngIf="!checkLogin()">
  <form id="loginForm" #loginForm="ngForm">
  <input type="text" name="username" ngModel placeholder="Username">
  <input type="password" name="password" ngModel placeholder="Password">
  <input type="submit" value="Login" (click)="login(loginForm)">
  </form>
  </div> -->
<!--
  <div>
      <button (click) = "logout()">Logout </button>
  </div> -->
<br>
<br>
<br>
<div *ngIf="checkLogin()">
<table>
  <tr><td><h1>Profile Info.</h1></td></tr>
  <tr>
    <td><h4>{{achiever.firstName}} {{achiever.lastName}}</h4></td>
  </tr>

<div *ngFor="let achievements of achiever.achievements">
  <hr>
  <tr><td><h2>Current Skills :</h2></td></tr>
  <tr><td><h2>Completed Skills :
  </h2></td></tr>
  <tr>
    <td>
      <h4>{{achievements.skill.name}}</h4><p>{{achievements.dateStarted}}</p>
    </td>
  </tr>
            <tr>
              <td>
              <img id="SDLogo" src={{achievements.skill.resources[0].imageLink}} width="200">
              </td>

            </tr>
                <tr>
              <td>
            <p>{{achievements.skill.summary}}</p>
              </td>
            </tr>
</div>

</table>
</div>

<div>
<app-achiever>

</app-achiever>



</div>
